# NOTIFICATIONS
NOTIFY_TYPE="ntfy" # ntfy | smtp | discord

# NTFY PROVIDER
NTFY="" # DEFAULT is /usr/bin/ntfy-send
NTFY_TOPIC=""

# SMTP
SMTP_TO="you@example.com"
SMTP_FROM="backup@$HOSTNAME"
SMTP_SUBJECT_PREFIX="[BACKUP]"

# DISCORD
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/XXX/YYY"

# NOTIFICATION TEMPLATE
TITLE="$HOSTNAME | BACKUP JOB"
TAGS="backup"
